html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(245, 245, 245);
}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}
.routes {
  justify-content: center;
  width: 33%;
}

.navGridItem {
  text-align: center;
  padding-top: 10px;
}
.navGrid {
  height: 65px;
}

.logo {
  padding-top: 10px;
  margin-left: 20px;
  width: 200px;
}
a {
  text-decoration: none;
}
